# Mac OS
.DS_Store

# Textmate
*.tmproj
tmtags

# Emacs
*~
\#*
.\#*

# VIM
*.swp
*.swo
*.swn

# Project (general)
/vendor/*/vendor
/log
/logs

# Docs
.yardoc
doc

# Config
config/*
!config/defaults
!config/README

# Others
.sass-cache
.rvmrc
