$shadow:        rgba(0, 0, 0, 0.25);
$shadow00:      rgba(0, 0, 0, 0.00);
$shadow05:      rgba(0, 0, 0, 0.05);
$shadow10:      rgba(0, 0, 0, 0.10);
$shadow15:      rgba(0, 0, 0, 0.15);
$shadow20:      rgba(0, 0, 0, 0.20);
$shadow30:      rgba(0, 0, 0, 0.30);
$shadow40:      rgba(0, 0, 0, 0.40);
$shadow50:      rgba(0, 0, 0, 0.50);
$shadow60:      rgba(0, 0, 0, 0.60);
$shadow70:      rgba(0, 0, 0, 0.70);
$shadow80:      rgba(0, 0, 0, 0.80);
$shadow90:      rgba(0, 0, 0, 0.90);

$hilite:        rgba(255, 255, 255, 0.25);
$hilite05:      rgba(255, 255, 255, 0.05);
$hilite10:      rgba(255, 255, 255, 0.10);
$hilite15:      rgba(255, 255, 255, 0.15);
$hilite20:      rgba(255, 255, 255, 0.20);
$hilite30:      rgba(255, 255, 255, 0.30);
$hilite40:      rgba(255, 255, 255, 0.40);
$hilite50:      rgba(255, 255, 255, 0.50);
$hilite60:      rgba(255, 255, 255, 0.60);
$hilite70:      rgba(255, 255, 255, 0.70);
$hilite80:      rgba(255, 255, 255, 0.80);
$hilite90:      rgba(255, 255, 255, 0.90);

$shadow5:       rgba(0, 0, 0, 0.5);
$hilite5:       rgba(255, 255, 255, 0.5);

// Like linear-gradient, but assumes that it's always vertical, has a
// bgcolor fallback, supports IE, and supports an image parameter.
//
// @include gradient(#eee, #ddd, url(image.png));
//
@mixin gradient($start, $end, $image: 0) {
  @if $image == 0 {
    background-color: $start;
    background-image: -moz-linear-gradient(top, $start, $end);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $start),color-stop(1, $end));
  }
  @else {
    background-image: -moz-linear-gradient(top, $start, $end), $image;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $start),color-stop(1, $end)), $image;
  }
  $ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}')";
  filter: unquote($ms-filter);
  -ms-filter: quote($ms-filter);
}

// Cross-browser PIE clear fix
@mixin clearfix {
  zoom: 1;
  &:after { content: ''; clear: both; display: block; line-height: 0; height: 0; visibility: hidden; zoom: 1; }
}

// Like box-shadow, but supports layering multiple shadows.
@mixin shadow($p1, $p2: 0, $p3: 0, $p4: 0) {
  $full: $p1;
  @if $p2 != 0 { $full: $full, $p2; }
  @if $p3 != 0 { $full: $full, $p3; }
  @if $p4 != 0 { $full: $full, $p4; }
  @include experimental(box-shadow, $full, -moz, -webkit, -o, not -ms, not -khtml, official);
}

// For non-lists like menus
@mixin non-list {
  &, li { margin: 0; padding: 0; list-style-type: none; display: block; }
  li { background-image: none; }
}

@mixin horiz-list {
  @include non-list; @include clearfix;
  li { float: left; }
}

// Be sure to overflow-hidden the container!
@mixin center-list {
  @include non-list;
  position: relative; left: 50%; float: left;
  li { position: relative; right: 50%; float: left; }
}

@mixin ellipsis {
  text-overflow: ellipsis; text-wrap: none; word-wrap: none;
  overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis;
}

